.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: black;
    height: 8vh;
}

.spacer {
    flex: 1;
}

.desktop-menu {
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.menu-icon {
    display: none;
}

.content-container {
    // display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    background-color: black;
}

button:hover {
    cursor: pointer;
    color: #69f0ae;
}

/* Mobile View */
@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }

    .menu-icon {
        display: inline-flex;
    }
}