@media (max-width: 768px) {
    .login-container, .img-content, .user-card {
        flex-direction: column !important;
    }

    .img-content {
        width: 100% !important;
        margin-bottom: 15px;
    }

    .profile-image {
        height: 200px !important;
        width: 200px !important;
    }

    .user-card {
        width: 90% !important;
    }
}
    
.login-container {
    display: flex;
    flex-direction: row;
    // align-items: center;
    // justify-content: center;
    min-height: 80vh;
}

.img-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    justify-content: center;
}

.profile-image {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

// 
.user-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(95, 95, 95);
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.user-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    padding: 8px 8px;
    border-radius: 10px;
    background-color: #e6e5e5;
}

.user-label {
    font-weight: bold;
    color: #555;
}

.user-value {
    font-weight: bold;
    color: #0288d1;
}

.status-active {
    color: rgb(13, 122, 13);
    font-weight: bold;
}