<h1 mat-dialog-title [ngStyle]="{ color: data.type === 'delete' ? 'red' : 'inherit' }">
    <mat-icon class="icon">{{data.type}}</mat-icon>
    <span class="message">{{data.title}}</span>
</h1>

<div mat-dialog-content class="dialog-content">
    {{ data.message }}
</div>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="cancel-btn">Close</button>
    <button mat-button mat-dialog-close (click)="onAction()" *ngIf="!data.noAction">{{ data.actionButton }}</button>
</mat-dialog-actions>