<h1 mat-dialog-title class="dialog-title">{{isCreate ? data.title : 'Edit Record'}}</h1>

<div mat-dialog-content class="dialog-content">

  <!-- Date Field (Disabled) -->
  <mat-form-field class="full-width" *ngIf="!isCreate">
    <mat-label>Date</mat-label>
    <input matInput [(ngModel)]="data.date" disabled class="disabled-field">
  </mat-form-field>

  <mat-form-field class="full-width" *ngIf="isCreate">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="dateControl" [value]="data.date"
      (dateChange)="onDateChange()">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="dateControl.hasError('required')">Date is required!</mat-error>
    <mat-error *ngIf="dateControl.hasError('dateExists')">Record available for selected date!</mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Location</mat-label>
    <mat-select [(ngModel)]="data.location">
      <mat-option value="Office 🏢">Office 🏢</mat-option>
      <mat-option value="Home 🏠">Home 🏠</mat-option>
      <mat-option value="Vacation 🌴">Vacation 🌴</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- In-Time Field with Validation -->
  <mat-form-field class="full-width" *ngIf="!isCreate">
    <mat-label>In-Time</mat-label>
    <input matInput [formControl]="timeControl" (input)="onTimeChange()">
    <mat-error *ngIf="timeControl.hasError('required')">
      Time is required!
    </mat-error>
    <mat-error *ngIf="timeControl.hasError('invalidTime')">
      Please enter time in the format <strong>hh:mm:ss AM/PM</strong>
    </mat-error>
  </mat-form-field>  

</div>

<div mat-dialog-actions align="end" class="dialog-actions">
  <button mat-button (click)="onCancel()" class="cancel-btn">Cancel</button>
  <button mat-button class="action-btn" (click)="onSave()" [disabled]="!isValid">Save</button>
</div>